<h4 class="center-align">Education</h4>

<div class="container box">
  <div class="row" *ngFor="let edu of EDUCATION">

    <div class="col s12">
      <div class="left-align valign-wrapper">
        <i class="material-icons">account_balance</i>
        <h6 style="padding-left: 5px;">
           {{edu.study}} @{{edu.instituion}}
        </h6>
      </div>
    </div>
    <p class="grey-p">During a {{edu.type}} program, I received the {{edu.title}} ({{edu.initials}}) degree from the {{edu.instituion}}, between {{edu.from}} to {{edu.to}}.</p>

  </div>
</div>
