<footer class="page-footer grey lighten-2">
  <div class="footer-copyright grey lighten-2">
    <div class="container center grey-text">
      <p>This website is hosted on <a class="grey-text text-darken-1" target="_blank" href="https://github.io">GitHub Pages</a> and <a class="grey-text text-darken-1" target="_blank" href="https://github.com/Softwaredam/softwaredam.github.io">built</a> with <a  class="grey-text text-darken-1"target="_blank" href="https://materializecss.com/">Materialize</a> and <a class="grey-text text-darken-1"target="_blank" href="https://angular.io">Angular</a>.</p>
      <span class="">
        &copy; {{year}} Copyright Softwaredam
      </span>
    </div>
  </div>
</footer>
