<div class="section center">
  <a href="mailto:info@softwaredam.com">
    <i class="text-font: 12px black-text material-icons">email</i>
  </a>&nbsp;
  <a href="https://www.linkedin.com/in/yosuf/" target="_blank">
    <img src="assets/images/linkedin.svg" alt="LinkedIn">
  </a> &nbsp;
  <a href="https://twitter.com/yosufhaydary" target="_blank">
    <img src="assets/images/twitter.svg" alt="Twitter">
  </a> &nbsp;
  <a href="https://medium.com/@yosuf.haydary" target="_blank">
    <img src="assets/images/medium.svg" alt="Medium">
  </a>
</div>
