<div class="row container z-depth-0">
  <div class="col s4 offset-s4 m2 offset-m5" style="margin-bottom: 20px">
    <img
      src="assets/images/profile_pic.jpg"
      width="100%"
      class="z-depth-2 circle right responsive-img"
      alt="Yosuf Haydary"
    />
  </div>

  <!-- <div class="col s8 offset-s2 m6 offset-m3">
    <img src="assets/images/ImSoftwaredam.png" alt="ImsSoftwaredam" width="100%">
  </div> -->

  <div class="left col s12">
    <p class="flow-text">Hi, I am Yosuf.</p>
    <p>
      I help businesses build and maintain robust software to fulfil its
      demands. I am usually involved in multiple facets of building and
      transforming systems.
    </p>
    <p>
      I am specialized in Solution Architecture, Continuous
      Integration/Delivery, DevOps, and near zero-downtime migrations. My
      multiple years of Software Engineering experience helps me to understand
      and lead teams, which in turn deliver quality.
    </p>
    <div class="center">
      <a href="/portfolio">
        <i class="medium material-icons blue-grey-text">work</i>
        <div>Directly to my portfolio</div>
      </a>
    </div>
  </div>
</div>
