<div class="row container z-depth-0">
  <div class="col s4 offset-s4 m2 offset-m5" style="margin-bottom:20px">
    <img  src="assets/images/profile_pic.jpg"
    width="100%"
    class="z-depth-2 circle right responsive-img"
    alt="Yosuf Haydary">
  </div>

  <div class="col s8 offset-s2 m6 offset-m3">
    <img src="assets/images/ImSoftwaredam.png" alt="ImsSoftwaredam" width="100%">
  </div>

  <div class="col s12">
    <p class="center">A full-stack Software Engineer in The Hague.</p>

  </div>
</div>
