<div class="container center-align">
  I couldn't find what you are looking for. However, no worries!
  <p>
    <i class="material-icons">child_care</i>
  </p>

  <p>
    I build this website bit by bit. It means that I put any functionlity directly into production/online a few times a day. Even if the whole picture is not finished yet. There is a philosophy behind it.
  </p>

  <p>
    Browse this website's github repo, see footer, to see the full story.
  </p>


  <div>
      <a routerLink="/home"><i class="material-icons">home</i></a>
  </div>
</div>
