<div class="container grey lighten-3 z-depth-0">

  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">face</i>Soft skills</div>
      <div class="collapsible-body">
        <div class="row">
          <div *ngFor="let skill of softSkills">
            <div class="col s7 l3"><span>{{ skill.name }}</span></div>
            <div class="col s5 l3">
              <i class="tiny material-icons orange-text" *ngFor="let star of skill.stars">{{star}}</i>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
        <i class="material-icons">settings</i>Hard skills
      </div>
      <div class="collapsible-body">
        <div class="row">
          <div class="col s12">
            <a class="btn-floating btn waves-effect waves-light grey modal-trigger" href="#skillModal"><i class="material-icons">add</i></a>
          </div>
          <div *ngFor="let skill of hardSkills">
            <div class="col s7 l3"><span>{{ skill.name }}</span></div>
            <div class="col s5 l3">
              <i class="tiny material-icons orange-text" *ngFor="let star of skill.stars">{{star}}</i>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
