<h3 class="center-align">Portfolio</h3>

<!-- <div class="row" >

  <div class="col s12 m6" *ngFor="let project of PROJECTS">
    <div class="z-depth-1">
      <h5>{{project.name}}</h5>
      <p>{{project.description}}</p>
    </div>
  </div>

</div> -->


<ul class="collection">
  <li class="collection-item avatar">
    <img src="images/yuna.jpg" alt="" class="circle">
    <span class="title">Title</span>
    <p>First Line <br>
       Second Line
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>

  <li class="collection-item avatar" *ngFor="let project of PROJECTS">
    <!-- <i class="material-icons circle">folder</i> -->
    <img src="assets/images/{{project.image}}" alt="" class="circle">
    <span class="title">{{project.name}}</span>
    <p>{{project.description}}</p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>

</ul>
