<div id="skillModal" class="modal">
  <div class="modal-content">

    <div class="row">
      <form class="col s12">
        <div class="input-field">
          <input [(ngModel)]="skill.name" name="name" placeholder="Skill description" id="skill_name" type="text" class="validate">
          <div>
            <label for="stars_rating">Rating</label>
            <i id="stars_rating" (click)="rate(i)" class="small material-icons orange-text" *ngFor="let star of skill.stars; let i = index;">{{star}}</i>
          </div>
        </div>
        <p>Please note that non of the data inserted will be persisted (saved). This functionality is just a demo.</p>
      </form>
    </div>

  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat blue" (click)="addNewSkill()">Add new skill</a>
  </div>
</div>
