<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper z-depth-0 white">
      <div class=" z-depth-0">

        <ul class="left hide-on-med-and-up">
          <li><a routerLink="/home"><i class="material-icons">home</i></a></li>
          <li><a routerLink="/portfolio"><i class="material-icons">work</i></a></li>
          <!-- <li><a routerLink="/skills"><i class="material-icons">settings</i></a></li> -->
          <li><a routerLink="/education"><i class="material-icons">school</i></a></li>
          <li><a routerLink="/info"><i class="material-icons">contact_support</i></a></li>
        </ul>

        <ul class="left hide-on-small-only">
          <li><a routerLink="/home"><i class="material-icons">home</i></a></li>
          <li><a class="grey-text text-darken-3" routerLink="/portfolio">Portfolio</a></li>
          <!-- <li><a class="grey-text text-darken-3" routerLink="/skills">Skills</a></li> -->
          <li><a class="grey-text text-darken-3" routerLink="/education">Education</a></li>
          <li><a class="grey-text text-darken-3" routerLink="/info">Info</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="hide-on-med-and-up">
  <div class="fixed-action-btn">
    <a class="btn-floating btn blue" (click)="scrollToTop()">
      <i class="material-icons">arrow_drop_up</i>
    </a>
  </div>
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>
