<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper z-depth-0 white">
      <div class=" z-depth-0">

        <ul class="left hide-on-med-and-up">
          <li><a routerLink="/home"><i class="material-icons">home</i></a></li>
          <li><a routerLink="/portfolio"><i class="material-icons">work</i></a></li>
          <li><a routerLink="/education"><i class="material-icons">school</i></a></li>
        </ul>

        <ul class="left hide-on-small-only">
          <li><a routerLink="/home"><i class="material-icons">home</i></a></li>
          <li><a class="grey-text text-darken-3" routerLink="/portfolio">Portfolio</a></li>
          <li><a class="grey-text text-darken-3" routerLink="/education">Education</a></li>
        </ul>
    </div>
    </div>
  </nav>
</div>


<div class="row container z-depth-0">

  <div class="col s4 offset-s4 m2 offset-m5" style="margin-bottom:20px">
    <img  src="assets/images/profile_pic.jpg"
          width="100%"
          class="z-depth-2 circle right responsive-img"
          alt="Yosuf Haydary">
  </div>

  <div class="col s12 m8 offset-m2">
    <img src="assets/images/ImSoftwaredam.png" width="100%" alt="ImsSoftwaredam">
  </div>

  <div class="col s12">
    <p class="center">A full-stack Software Engineer in The Hague.</p>
    <div class="section center">
      <a href="mailto:yosuf.haydary@gmail.com">
        <i class="text-font: 12px black-text material-icons">email</i>
      </a>&nbsp;
      <a href="https://www.linkedin.com/in/yosuf/" target="_blank">
        <img src="assets/images/linkedin.svg" alt="LinkedIn">
      </a> &nbsp;
      <a href="https://twitter.com/yosufhaydary" target="_blank">
        <img src="assets/images/twitter.svg" alt="Twitter">
      </a> &nbsp;
      <a href="https://medium.com/@yosuf.haydary" target="_blank">
        <img src="assets/images/medium.svg" alt="Medium">
      </a>
    </div>
  </div>
</div>

<div class="hide-on-med-and-up">
  <div class="container">
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large blue" (click)="scrollToTop()">
        <i class="large material-icons">arrow_drop_up</i>
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>
