
<div class="row container z-depth-1">

  <div class="col s4 offset-s4 m2 offset-m5" style="margin-bottom:20px">
    <img src="assets/images/profile_pic.jpg" width="100%" class="z-depth-2 circle right responsive-img" alt="Yosuf Haydary">
  </div>

  <div class="col s12 m8 offset-m2">
    <img src="assets/images/ImSoftwaredam.png" width="100%" alt="ImsSoftwaredam">
  </div>

  <div class="col s12">
    <p class="center">A full-stack Software Engineer in The Hague.</p>
    <div class="section center">
      <a href="mailto:yosuf.haydary@gmail.com"><i class="text-font: 12px black-text material-icons">email</i></a>
      <a href="https://www.linkedin.com/in/yosuf/" target="_blank">
        <img src="assets/images/linkedin.svg" alt="LinkedIn">
      </a>
      <a href="https://twitter.com/yosufhaydary" target="_blank">
        <img src="assets/images/twitter.svg" alt="Twitter">
      </a>
      <a href="https://medium.com/@yosuf.haydary" target="_blank">
        <img src="assets/images/medium.svg" alt="Medium">
      </a>
    </div>
  </div>
</div>


<div class="row container z-depth-0">
  <div class="col s12">
    <p>
      Along with other things in life, software has become one of those essential things we can hardly live without. Software is literally everywhere, and it continues to grow.
    </p>
    <p>
      Softwaredam is specialized in software building and maintenance, and is determined to help you with your business software systems.
    </p>
  </div>
  <p class="center">
    <i class="small material-icons">brush</i>
    <i class="small blue-grey-text material-icons">favorite</i>
    <i class="small material-icons">build</i>
  </p>
</div>

<app-skills></app-skills>
<app-footer></app-footer>
<router-outlet></router-outlet>
