body {
  font-family: "Outfit", serif;
  font-size: 1.5em;
  /* font-optical-sizing: auto; */
  /* font-style: normal; */
  /* margin: 0; */

  /* Prevent default scrolling */
  /* overflow: hidden; */
}

a {
  text-decoration: none; /* Removes underline */
  color: inherit;
}

p {
  color: white;
  font-weight: 100;
}

h1 {
  color: #ffffff;
  letter-spacing: calc(1em * 0.15);
  font-weight: 900;
  margin: 0;
}

h2 {
  color: #ffffff;
  letter-spacing: calc(1em * 0.15);
  font-weight: 700;
  margin: 0;
}

h3 {
  color: #ffffff;
  letter-spacing: calc(1em * 0.15);
  font-weight: 900;
  margin: 0;
}

h4 {
  color: #ffffff;
  letter-spacing: calc(16px * 0.15);
  font-weight: 100;
}

h5 {
  color: #ffffff;
  letter-spacing: calc(16px * 0.15);
  font-weight: 200;
}

h6 {
  color: #ffffff;
  letter-spacing: calc(16px * 0.15);
  font-weight: 900;
}

.softwaredam-orange {
  color: #ff4a00;
}

.softwaredam-pink {
  color: #faf5f5;
}

.softwaredam-light-blue {
  background-color: #e6eff1;
}

.new-part {
  margin-top: 8em;
  margin-bottom: 2em;
}

.primary-logo-text {
  padding-top: 0.35em;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* background-color: white; */
  z-index: 1000;
  transition: all 0.3s ease;
}

.logo {
  width: 15em;
  padding-right: 02em;
  padding-left: 5em;
  padding-right: 1em;
  padding-top: 10em;
  transition: all 0.3s ease;
}
.logo-text {
  font-size: 0em;
  margin-top: 2em;
  padding-left: 0px;
  margin-left: 0em;
}

.small-logo {
  width: 2.5em;
}

.small-logo-text {
  /* padding-top = the half of small-logo.width */
  padding-top: 1.25em;
  margin: 0;
}

.bolder {
  font-weight: bolder;
}

.container {
  height: 100vh;
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  width: 90%;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center; /* Center items vertically */
  scroll-snap-align: start;
  position: relative;
}

#main-page-logo {
  vertical-align: top;
  margin-left: 200px;
  margin-bottom: 120px;
  width: 250px;
}

.slide-section {
  height: 100vh;
  display: flex;
  align-items: center; /* Center items vertically */
  scroll-snap-align: start;
  position: relative;
}

.section2 {
  background: #faf5f5;
}
.section3 {
  background: #f5f9fa;
}

#last-slide {
  height: 100vh;
  width: 100vw;
  background-image: url("images/softwaredam-orangutan.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.horizontal-container {
  display: flex;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

#slide1 {
  background-image: url("images/main-background.png");
}

.cookies {
  font-size: 12px;
  position: fixed;
  bottom: 0;
  display: flex;
  transition: opacity 0.5s ease-in-out;
  background-color: black;
  opacity: 0.5;
  border-radius: 5px;
  justify-content: center;
  justify-self: auto;
  padding-right: 1em;
  padding-left: 1em;
  align-items: center;
  left: 40%;
}

.cookies p1 {
  font-size: 12px;
}

.cookies button {
  text-decoration: none;
  background: #ebd8d9;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  font-size: 10px;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}

@keyframes fadeInCookies {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutCookies {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeInCookies 0.5s ease-in-out;
}

.fade-out {
  animation: fadeOutCookies 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.footer {
  font-size: 14px;
}

.contact {
  padding-bottom: 2em;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  justify-self: auto;
  align-items: center;
  opacity: 0.5;
}

.contact-button {
  display: inline-block;
  opacity: 0.8;
  padding: 10px 20px;
  padding-bottom: 0px 0px;
  font-size: 16px;
  color: white;
  border-radius: 40px;
  background: linear-gradient(45deg, #ff6600, #ff4a00, #ff2200);
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}
.contact-button:hover {
  background: linear-gradient(45deg, #ff2200, #ff4a00, #ff6600);
}

.media-icon {
  width: 40px;
  padding: 0px;
  margin: 5px;
}

.pictogram {
  background: #f6ecec;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.pictogram h6 {
  font-weight: 500;
  letter-spacing: normal;
}

.pictogram p {
  font-size: 0.7em;
}

.image-top {
  padding-top: 0.5em;
}

.about-us-text {
  background: #e6eff1;
  padding: 1em;
  border-radius: 5px;
}

.active-profile {
  width: 6em;
}
.no-padding {
  padding: 0;
}
.profile-container {
  justify-content: space-around;
  margin-top: 20px;
}

.profile-pic {
  width: 10em;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.profile-text {
  background-color: #e6eff1;
}

.tabs .tab {
  height: auto;
}
.tabs .indicator {
  background-color: transparent;
}
.tab {
  display: grid;
}
.active a {
  width: 2em;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: transparent;
}
.tabs {
  height: auto;
  background-color: transparent;
}
