/** #424242 === grey darken-3 */
body {
  color: #424242;
}

a {
  color: #424242;
}

i {
  color: #424242;
}

.box {
  border: solid lightgrey 1px;
  padding: 2%;
  margin-bottom: 20px;
}

.grey-p {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 13px;
  color: grey;
}
