<app-softwaredam-intro></app-softwaredam-intro>
<app-social></app-social>

<div class="row container z-depth-0">
  <div class="col s12">
    <p>
      Along with other things in life, software has become one of those essential things we can hardly live without. Software is literally everywhere, and it continues to grow.
    </p>
    <p>
      Softwaredam is specialized in software building and maintenance, and is determined to help you with your business software systems.
    </p>
    <p class="center">
      <i class="tiny material-icons">brush</i>
      <i class="tiny blue-grey-text material-icons">favorite</i>
      <i class="tiny material-icons">build</i>
    </p>
    <p>
      Please bear it with me if you see any incompleteness or inconsistencies in this website. I build it bit by bit and I put any working functionality directly into production, no matter how small.
    </p>
  </div>
</div>

<app-skills></app-skills>
